.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #1e293b;
}

.category-description {
  width: 30%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  border: none;

  background-color: #0284c7;
  color: #f8fafc;
}

.category-description p {
  text-align: center;
  font-family: var(--secondary-font), Arial, Helvetica, sans-serif;
  font-size: 4rem;
}

button {
  border: none;
  border-radius: 10px;
  color: #334155;
  background-color: #38bdf8;
}

button:hover {
  background-color: #0284c7;
  color: #f8fafc;
}

.categories-container {
  width: 60%;
  height: 50%;
  margin-top: 20px;
  border: none;
}

.categories-grid {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  border: none;
  padding: 10px;
  background-color: #f8fafc;
  border-radius: 25px;
}

.category-prev {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  background-color: #94a3b8;
  border-radius: 15px;
}

.category-image {
  width: 150px;
}

.category-name {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.play-button {
  width: 200px;
  height: 80px;
  font-size: 4rem;
  position: absolute;
  bottom: 30px;
  right: 30px;
}

.back-button {
  width: 120px;
  height: 60px;
  font-size: 3rem;
  position: absolute;
  top: 30px;
  left: 30px;
}

.selected-category {
  background-color: deepskyblue;
  color: white;
}
