.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #1e293b;
}
.image-border {
  width: 20%;
  border: 2px solid whitesmoke;
}

.hangman-image {
  width: 100%;
}

.word-prev {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-size: 5rem;
  color: #f8fafc;
}

.vowels-row {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.vowel-button {
  width: 50px;
  height: 50px;
  font-size: 4rem;
}

.vowel-button:hover {
  color: #334155;
}

.letters-grid {
  margin-top: -20px;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.letter-button {
  font-size: 4rem;
}

.letter-button:hover {
  color: #334155;
}

button {
  color: #38bdf8;
  border: none;
  background-color: #1e293b;
}

.wrong {
  color: red;
  transition: color 1s;
}

.correct {
  color: greenyellow;
  transition: color 1s;
}

.modal {
  position: absolute;
  width: 40%;
  height: 70%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 2px #f8fafc solid;
  border-radius: 25px;
  z-index: 10;
  background-color: #334155;
}

.game-result {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-size: 4.5rem;
}

.intro {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.modal-word {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-size: 4rem;
  color: #f8fafc;
}

.button-container {
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.button-container > a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.button-container button {
  width: 80%;
  height: 100%;

  background-color: #1e293b;
  color: #38bdf8;
  font-size: 3.5rem;
  border-radius: 10px;
}

.button-container button:hover {
  background-color: #38bdf8;
  color: #1e293b;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.hidden {
  display: none;
}
