.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
  background-color: #1e293b;
}

.game-title {
  font-family: var(--primary-font), Arial, Helvetica, sans-serif;
  font-size: 18rem;
  margin-top: 30px;
  color: #f8fafc;
}

.start-button {
  width: 300px;
  height: 100px;
  font-size: 5rem;
  border-radius: 15px;
}

button {
  border: none;

  color: #334155;
  background-color: #38bdf8;
}

button:hover {
  background-color: #0284c7;
  color: #f8fafc;
}
